:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --rtc-color-0: #50763d;
  --rtc-color-1: #224099;
  --rtc-color-2: #189d98;
  --rtc-color-3: #78c486;
  --rtc-color-4: #f9d445;
  --rtc-color-5: #c09201;
  --rtc-color-text: #5a4a42;
  --rtc-color-link: var(--rtc-color-0);
  --rtc-color-link2: var(--rtc-color-3);
  --rtc-color-header: var(--rtc-color-1);
  --rtc-color-app: var(--rtc-color-4);
  --rtc-color-font: rgba(255, 255, 255, 1)
  color: var(--rtc-color-text);
}

a {
  font-weight: 500;
  color: var(--rtc-color-link);
  text-decoration: inherit;
}
a:hover {
  color: var(--rtc-color-link2);
  cursor: pointer;
}
nav#nav-right {
  cursor: pointer;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  /* padding: var(--rtc-padding-m); */
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 10svh;
  height: fit-content;
  background-color: var(--rtc-bg-primary);
  z-index: 99;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: var(--rtc-gap-m);
  /* margin-bottom: var(--rtc-margin-m); */
  align-items: center;
  background-color: var(--rtc-color-header);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--rtc-color-app);
}
a#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo-svg {
  height: 2em;
  padding: 1.5em;
}

.card {
  padding: 2em;
}

footer {
  border: 5px solid red;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
